<div class="vads-u-padding-y--5 documentation">
  <%= link_to "Sign out here", destroy_user_session_path, class: "usa-button", method: :delete %>

  <h2>
    <%= "#{@apis.count} APIs" %>
  </h2>
  <%= form_tag bulk_seed_admin_apis_path do %>
    <%= submit_tag 'Seed Database' %>
  <% end %>
  <% @apis.each do |api| %>
    <p>
      <%= api.to_json %>
      <%= api.api_ref.to_json %>
      <%= api.api_environments.to_json %>
    </p>
  <% end %>
  <%= form_tag destroy_all_admin_apis_path do %>
    <%= submit_tag 'Delete APIs', class: 'usa-button-red' %>
  <% end %>

  <h2>
    <%= "#{@users.count} users / consumers" %>
  </h2>
  <%= form_tag migrate_consumers_admin_dashboard_index_path(migrate: ':migrate') do %>
    <%= submit_tag 'Migrate Consumers' %>
  <% end %>
  <% @users.each do |user| %>
    <p>
      <%= user.to_json %>
      <br />
      <%= user.consumer.to_json %>
      <br />
      <%= "#{user.consumer.apis.count} apis" %>
      <br />
      <% user.consumer.apis.each do |api| %>
        <%= api.to_json %>
        <br />
      <% end %>
    </p>
  <% end %>
  <%= form_tag destroy_all_admin_consumers_path do %>
    <%= submit_tag 'Delete Consumers', class: 'usa-button-red' %>
  <% end %>
</div>
