<div>Welcome <%= @request[:firstName] %>,</div><br />

<div>You've successfully received sandbox access to the <%= list_apis(@request[:apis]) %>!</div>
<br />
<br />

<% if @kong_consumer.present? && @kong_consumer[:token].present? %>
  <div><b>Your API key is:</b></div>
  <pre><%= @kong_consumer[:token] %></pre>
  <br />
  <div><b>What's next?</b></div>
  <div>1. Use the above key to start developing in sandbox with test data.</div>
  <div>2. Once you’ve developed and tested your app in sandbox, you can <a href="https://developer.va.gov/onboarding/request-prod-access">request production access</a>.</div>
  <br />
  <% if get_api_metadata(@request[:apis]).restricted_access_toggle %>
    <br />
    <div><b>Important:</b> To get production access for this API, you must either work for VA or have specific VA agreements in place.</div>
    <br />
    <br />
  <% end %>
  <div>If you have any questions about VA APIs or the sandbox or production access process, <a href="https://developer.va.gov/support/contact-us">contact us</a>.</div>
  <br />
  <br />
  <div><b>Your Sandbox Request ID is:</b></div>
  <pre><%= @kong_consumer[:kong_username] %></pre>
  <br />  
  <div>We will be able to help you more quickly if you include your Sandbox Request ID when reaching out to us.</div>
<% end %>

<% if @okta_consumers.present? %>
  <% if @okta_consumers.dig(:ccg, :credentials).present? %>
    <div><b>Your Client ID is:</b></div>
    <pre><%= @okta_consumers.dig(:ccg, :credentials, :oauthClient, :client_id) %></pre>
    <br />
    <div><b>What's next?</b></div>
    <br />
    <div>1. Use the above credentials to start developing in sandbox with test data.</div>
    <div>2. Once you’ve developed and tested your app in sandbox, you can <a href="https://developer.va.gov/onboarding/request-prod-access">request production access</a>.</div>
    <br />
    <div><b>Important:</b> To get production access using client credentials grant, you must either work for VA or have specific VA agreements in place.</div>
    <br />
    <br />
    <div>If you have any questions about VA APIs or the sandbox or production access process, <a href="https://developer.va.gov/support/contact-us">contact us</a>.</div>
  <% end %>

  <% if @okta_consumers.dig(:acg, :credentials).present? %>
    <div><b>Your OAuth client ID is:</b> <pre><%= @okta_consumers.dig(:acg, :credentials, :oauthClient, :client_id) %></pre></div>
    <br />
    <% if @okta_consumers.dig(:acg, :credentials, :oauthClient, :client_secret).present? %>
      <div><b>Your OAuth client secret is:</b> <pre><%= @okta_consumers.dig(:acg, :credentials, :oauthClient, :client_secret) %></pre></div>
      <br />
    <% end %>
    <% if @okta_consumers.dig(:acg, :settings, :oauthClient, :redirect_uris).present? %>
      <div><b>Your redirect URI is:</b> <pre><%= @okta_consumers.dig(:acg, :settings, :oauthClient, :redirect_uris).first %></pre></div>
      <br />
    <% end %>
    <% if @deeplink_url.present? %>
      <div>
        <b>Your link to test data credentials is:</b><br />
        <a href="https://developer.va.gov<%= @deeplink_url %>">https://developer.va.gov<%= @deeplink_url %></a>
      </div>
      <br />
    <% end %>
    <% if !@deeplink_url.present? %>
      <div>
        <b>Your link to test data credentials is:</b><br />
        <a href="<%= get_api_oauth_info(@request[:apis]).dig('acgInfo', 'gitHubTestUsers') %>"><%= get_api_oauth_info(@request[:apis]).dig('acgInfo', 'gitHubTestUsers') %></a>
      </div>
      <br />
    <% end %>
    <div><b>What's next?</b></div>
    <br />
    <div><b>Start developing.</b></div>
    <br />
    <table cellspacing="0" cellpadding="0">
      <tr><td width="30">1.</td><td>Use the above credentials to start developing in sandbox.</td></tr>
      <% if @deeplink_url.present? %>
        <tr><td width="30">2.</td><td>To access test data, go to the <a href="<%= get_api_oauth_info(@request[:apis]).dig('acgInfo', 'gitHubTestUsers') %>">test accounts GitHub page</a> and find test users that meet your use case.</td></tr>
        <tr><td width="30">3.</td><td>Then, use the link to test data credentials (above) to access further instructions and test user login data.</td></tr>
        <tr><td width="30">4.</td><td>We suggest bookmarking both the page with test data credentials and the GitHub page so you can return to them if you need other test accounts. The links to these pages do not expire.</td></tr>
      <% end %>
      <% if !@deeplink_url.present? %>
        <tr><td width="30">2.</td><td>Access sandbox test data from the <a href="<%= get_api_oauth_info(@request[:apis]).dig('acgInfo', 'gitHubTestUsers') %>">test accounts GitHub page</a>.</td></tr>
      <% end %>
    </table><br />
    <% if !@deeplink_url.present? %>
      <div><b>A note:</b> the way you access this data, and any test account credentials for ID.me, will change in early February, 2024. We will email you more information about this change, including instructions and a new access link, in February. For now, be sure to save any ID.me credentials you are using.</div>
      <br />
    <% end %>
  <% end %>
<% end %>