<ul>
  <li>
      <div>
          <div>First Name:</div>
          <div><%= @request[:firstName] %></div>
      </div>
  </li>
  <li>
      <div>
          <div>Last Name:</div>
          <div><%= @request[:lastName] %></div>
      </div>
  </li>
  <li>
      <div>
          <div>Organization:</div>
          <div><%= @request[:organization] %></div>
      </div>
  </li>
  <li>
      <div>
          <div>From Email:</div>
          <div><%= @request[:requester] %></div>
      </div>
  </li>
  <li>
      <div>
          <div>Description:</div>
          <div><%= @request[:description] %></div>
      </div>
  </li>
  <li>
      <div>
          <div>APIs:</div>
          <div><%= @request[:apis] %></div>
      </div>
  </li>
</ul>