<ul>
  <li>
    <div>
      <div>First Name:</div>
      <div><%= @request[:firstName] %></div>
    </div>
  </li>
  <li>
    <div>
      <div>Last Name:</div>
      <div><%= @request[:lastName] %></div>
    </div>
  </li>
  <li>
    <div>
      <div>Organization:</div>
      <div><%= @request[:organization] %></div>
    </div>
  </li>
  <li>
    <div>
      <div>From Email:</div>
      <div><%= @request[:requester] %></div>
    </div>
  </li>
  <li>
    <div>
      <div>API Details:</div>
      <div><%= @request[:apiDetails] %></div>
    </div>
  </li>
  <li>
    <div>
      <div>API Description:</div>
      <div><%= @request[:apiDescription] %></div>
    </div>
  </li>
  <li>
    <div>
      <div>Internal Only:</div>
      <div><%= @request[:apiInternalOnly] %></div>
    </div>
  </li>
  <li>
    <div>
      <div>Internal Only Details:</div>
      <div><%= @request[:apiInternalOnlyDetails] %></div>
    </div>
  </li>
  <li>
    <div>
      <div>Other Info:</div>
      <div><%= @request[:apiOtherInfo] %></div>
    </div>
  </li>
</ul>
